@import "../../scss/mixins/mini";
@import "../../scss/mixins/breakpoint";

.Subscribe {
	@include bg-cover;
	@include image-set("../../../public/images/Main/bgSubscribe");
	min-height: 275px;
	background-color: var(--banner, #131313);

	h2 {
		color: var(--light-color);
	}

	&__form {
		display: flex;
		align-items: start;
		margin-top: 15px;
		@include middle-mobile {
			flex-direction: column;

		}
	}

	&__inputs {
		@include flex-column-start;
		@include mobile { 
			width: 100%;
		}
	}

	&__input {
		border-radius: 5px;
		width: 346px;
		background-color: var(--light-color);

		input {
			border-radius: 5px;
			padding: 10px 16px;
			width: 100%;
			height: 100%;
			font-family: Inter;
			font-weight: 400;
			font-style: normal;
			font-size: 16px;
			line-height: 160%;
			/* 25.6px */
			color: var(--light-grey, #B3B3B3);
		}
		@include mobile { 
			width: 100%;
		}
	}
	&__checkbox {
		margin-top: 10px;
		color: var(--light-color);

		label {
			@include flex-v-center;
			margin-top: 15px;
			background-color: var(--light-color);
		}

		div {
			margin-right: 10px;
		}
	}

	@include mobile {
		padding: 30px 0;
		background-image: none;
		&__submit {
			margin-top: 10px;
			width: 100%;
		}
	}
}
