@import "../../scss/mixins/mini";

.ProductColors {

	margin-top: 20px;

	&__list {
		@include flex-v-center;
		margin-top: 10px;
		gap: 5px;

	}

	&__item {
		border: 1px solid var(--black-color);
		border-radius: 100%;
		width: 32px;
		height: 32px;

		cursor: pointer;

		&.active {
			border: 5px solid var(--3-grey, #E5E5E5);
		}
	}
}
