@import "../../scss/mixins/mini";
.ProductDescription {
	&__wrapper {
		@include flex-column-start;
		p {
/* desk mob 16 200 */
font-family: Inter;
font-weight: 400;
font-style: normal;
font-size: 16px;
line-height: 200%; /* 32px */
			color: var(--bl, #101010);
		}

	}
	&__title {
/* desk h3 */
font-family: Bebas Neue Cyrillic;
font-weight: 400;
font-style: normal;
font-size: 40px;
line-height: 123%; /* 49.2px */
letter-spacing: 2px;
		color: var(--bl, #101010);
	}
}
