@import "@scss/mixins/breakpoint";

.Profile {
	&__wrapper {
		display: flex;
		align-items: start;
		padding-top: 100px;
		gap: 40px;

		@include middle-tablet {
			justify-content: center;
			padding-top: 30px;
			padding-bottom: 100px;
		}

		@include mobile {
			flex-direction: column;
			align-items: start;
			justify-content: start;
		}
	}
}
