@import "@scss/mixins/mini";
@import "@scss/mixins/breakpoint";

.AboutUsCard {
	@include flex-column-start;
	position: relative;
	flex-shrink: 1;
	flex-basis: 400px;
	overflow: hidden;
	border-radius: 10px;
	padding: 32px;
	height: 334px;
	background: var(--dark, #34312D);

	svg {
		position: absolute;
		right: 0;
		bottom: 0;
		display: block;
	}

	&__title {
		/* desk mob 24 */
		font-family: Inter;
		font-weight: 500;
		font-size: 24px;
		line-height: 160%;
		/* 38.4px */
		letter-spacing: 0.24px;
		color: var(--white, #FFF);
	}

	p {
		/* desk mob 16 light */
		font-family: Inter;
		font-weight: 300;
		font-size: 16px;
		line-height: 160%;
		/* 25.6px */
		color: var(--3-grey, #E5E5E5);
	}

	&__btn {
		/* desk mob cta */
		font-family: Inter;
		font-weight: 500;
		font-size: 16px;
		line-height: 123%;
		/* 19.68px */
		color: var(--white, #FFF);
	}

	&:hover {
		background: var(--orange);
	}

	@include pre-middle-tablet {
		flex-basis: 200px;
		padding-bottom: 90px;
		height: auto;
		min-height: 200px;
	}

	@include mobile {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 100%;
		scroll-snap-align: center;

	}
}
