@import "../../scss/mixins/mini";

.ProductSpecifications {
	&__title {
		/* desk h3 */
		font-family: Bebas Neue Cyrillic;
		font-weight: 400;
		font-style: normal;
		font-size: 40px;
		line-height: 123%;
		/* 49.2px */
		letter-spacing: 2px;
		color: var(--bl, #101010);
	}
}

.SpecificationsList {
	border: 1px solid var(--bg, #F8F8F8);
	border-radius: 10px;
	width: 100%;
}

.SpecificationsItem {

	@include flex-all-sb;
	padding: 15px;
	width: 100%;

	&:nth-child(2n) {
		background: var(--bg, #F8F8F8);
	}

}
