@import "./../../scss/mixins/mini";
@import "../../scss/mixins/breakpoint";

.WorkshopTop {
	min-height: 80vh;

	&__preview {
		@include image-set("../../../public/images/Workshop/Preview");
		@include bg-cover;
		height: 280px;

		&_inner {
			padding-top: 30px;
		}
	}

	&__descr {
		min-height: 340px;
		background-color: var(--dark-grey, #2E2E2E);

		&_inner {
			@include flex-all-sb;
			@include middle-tablet {
				gap: 30px;
			}
			@include pre-mobile {
				flex-direction: column;
				align-items: center;
				text-align: left;
			}
		}
		p {
			font-family: Inter;
			font-weight: 300;
			font-style: normal;
			font-size: 16px;
			line-height: 160%;
			/* 25.6px */
			color: var(--white, #FFF);
		}
	}
}

