@import "../../../scss/mixins/mini";

.Pagination {
	@include flex-v-center;
	gap: 10px;

	&__list {
		@include flex-v-center;
		gap: 5px;
	}

	&__item {
		@include flex-all-center;
		border: 1px solid var(--3-grey, #E5E5E5);
		border-radius: 5px;
		width: 40px;
		height: 46px;
		text-align: center;
		color: var(--bl, #101010);

		&:hover {
			color: var(--light-color);
			background: var(--orange, #F57520);
			cursor: pointer;
			user-select: none;
		}

		&.active {
			color: var(--light-color);
			background: var(--orange, #F57520);
		}
	}
}
