@import "./../../scss/mixins/mini";

.AboutUsPreview {

	@include image-set("../../../public/images/AboutUs/preview");
	@include bg-cover;
	height: 280px;

	&__inner {
		padding-top: 30px;
	}

	&__title {
		margin-top: 20px;
		/* desk h2 */
		font-family: Bebas Neue Cyrillic;
		font-weight: 400;
		font-size: 64px;
		line-height: 123%;
		/* 78.72px */
		letter-spacing: 3.2px;
		color: var(--white, #FFF);
	}

	&__descr {
		height: 340px;
		background-color: var(--dark-grey, #2E2E2E);

		&_inner {
			@include flex-all-sb;
		}

		p {
			font-family: Inter;
			font-weight: 300;

			font-size: 16px;
			line-height: 160%;
			/* 25.6px */
			color: var(--white, #FFF);
		}
	}
}

