@import "../../scss/mixins/mini";

.MainCatalog {
	padding-bottom: 200px;

	&__title {
		font-family: Bebas Neue;
		font-weight: 700;
		font-style: normal;
		font-size: 64px;
		line-height: 123%;
		letter-spacing: 3.2px;
		color: var(--bl, #101010);
	}

	&__container {
		@include flex-column-start;
	}
}

.Grid {
	display: grid;
	grid-auto-rows: minmax(50px, auto);
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	grid-template-areas:
		"one one one"
		"two three four"
		"two three four"
		"two three four"
		"two five four"
		"two five six"
		"two five six";
	grid-template-columns: repeat(3, 1fr);
	height: 770px;
	max-width: 100%;

	&__item {
		overflow: hidden;
		border-radius: 10px;
		color: #fff;
		background-color: #000;
		transition: all 0.3s ease-in-out;

		&_img {
			height: 100%;

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		&_title {
			/* desk h2 */
			font-family: Bebas Neue Cyrillic;
			font-weight: 400;
			font-style: normal;
			font-size: 64px;
			line-height: 123%;
			/* 78.72px */
			letter-spacing: 3.2px;
			color: var(--light-color, #FFF);
		}

		&:hover {
			background-color: #F57520;
			transition: all 0.3s ease-in-out;
		}

		&:nth-child(1) {
			@include flex-v-center;
			grid-area: one;
			padding: 0 30px 0 50px;


			.Grid__item_img {
				width: 70%;
			}

			.Grid__item_title {
				width: 30%;
			}
		}

		&:nth-child(2) {
			position: relative;
			grid-area: two;
			padding-top: 30px;
			text-align: center;

			.Grid__item_img {
				position: absolute;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 300px;

				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		&:nth-child(3) {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			grid-area: three;
			padding-left: 30px;

			.Grid__item_img {
				position: absolute;
				right: 0;
				bottom: 0;
				width: 120px;
				height: 100%;

				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

		}

		&:nth-child(4) {
			position: relative;
			grid-area: four;
			overflow: hidden;
			padding-top: 30px;
			text-align: center;

			.Grid__item_img {
				position: absolute;
				right: 0;
				bottom: 0;
				width: 300px;
				height: 200px;

				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

		}

		&:nth-child(5) {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			grid-area: five;

		}

		&:nth-child(6) {
			@include flex-v-center;
			position: relative;
			grid-area: six;
			padding-left: 30px;

			.Grid__item_img {
				position: absolute;
				right: 0;
				bottom: 0;
				width: 100px;
				height: 100px;

				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

		}
	}


}
