@import "../../scss/mixins/mini";
@import "../../scss/mixins/breakpoint";
.MainAbout {
	    overflow-x: hidden;
    overflow-y: hidden;

	height: 100vh;
@include mobile {
	overflow-y: hidden;
	height: 80vh;
}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}

	&__top {
		@include bg-cover;
		@include image-set("../../../public/images/Main/mainAboutBg");
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 80%;
		background-color: #000;
		@include mobile {
			@include image-set("../../../public/images/Main/mainAboutBgMobile");
			height: 100%;
		}
	}

	&__title {
		/* desk h1 */
		font-family: Bebas Neue Cyrillic;
		font-weight: 700;
		font-style: normal;
		font-size: 110px;
		line-height: 123%;
		/* 135.3px */
		letter-spacing: 2.2px;
		text-transform: uppercase;
		color: var(--light-color);
		@include mobile {
			font-size: 60px;
		}
	}

	&__descr {
		/* desk mob subhead */
		font-family: Inter;
		font-weight: 300;
		font-style: normal;
		font-size: 18px;
		line-height: 160%;
		/* 28.8px */
		letter-spacing: 0.18px;
		color: var(--light-color);
	}

	&__text {
		width: 600px;
		@include mobile {
			// padding: 0 15px;
			width: 90%;
		}
	}

	&__slider {
		width: 100%;
		height: 100%;
	}

	&__info {
		display: flex;
		align-items: start;
		width: 100%;
		@include middle-tablet {
			display: none;
		}
	}

}

.InfoItem {
	@include flex-all-center;
	flex-grow: 1;
	height: 182px;
	text-align: start;
	color: #fff;
	background-color: #131313;
	transition: all 0.3s ease-in-out;

	&__content {
		width: 300px;
		@include mobile {
			width: 50%;
		}
	}

	&__btn {
		display: none;
		margin-top: 15px;
		color: #F57520;
	}

	&:hover {
		border-radius: 20px;
		transform: scale(1.1);

		.InfoItem__btn {
			display: block;
		}
	}

	&:last-child {
		background-color: #2E2E2E;
	}

}

.Slide {
	width: 100%;
	height: 100%;

	&__content {
		@include flex-column-start;
		justify-content: center;
		margin: 0 auto;
		width: 1280px;
		height: 100%;
		@include middle-desktop {
			padding-left: 16px;
			padding-right: 10px;
		}
		@include mobile {
			width: 100%;
		}
	}
}
