@import "../../scss/mixins/mini";
/* @import url("https://fonts.googleapis.com/css?family=Bebas+Neue:regular");*/
.MainAbout {
	
	height: 100vh;
	
	

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}
	&__top {
		@include bg-cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 80%;
		background-image: url("../../../public/images/Main/mainAboutBg.jpg");
	background-color: #000;
	}
	&__title {
/* desk h1 */
font-family: Bebas Neue Cyrillic;
font-weight: 700;
font-style: normal;
font-size: 110px;
line-height: 123%; /* 135.3px */
letter-spacing: 2.2px;
		text-transform: uppercase;
		color: var(--light-color);
	}
	&__descr {
/* desk mob subhead */
font-family: Inter;
font-weight: 300;
font-style: normal;
font-size: 18px;
line-height: 160%; /* 28.8px */
letter-spacing: 0.18px;
color: var(--light-color);
	}
	&__text {
		width: 600px;
	}
	&__slider {
		width: 100%;
		height: 100%;
	}
	
}

.Slide {
	width: 100%;
	height: 100%;
	&__content {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		margin: 0 auto;
		width: 1280px;
		height: 100%;
	}
	}
.swiper-pagination-bullet{
	width: 12px;
	height: 12px;
	background-color: #4C4C4C;
}
.swiper-pagination-bullet-active{
	width: 18px;
	width: 18px;
	background-color: #F57520;
}
