@import "../../scss/mixins/mini";

.ContactsMap {
	&__top {
		@include image-set('../../../public/images/Contacts/top');
		@include bg-cover;
		height: 280px;

	}

	&__inner {
		@include flex-column-start;
		padding-top: 30px;
		gap: 30px;
	}

	&__bottom {
		height: 400px;
		picture {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
