@import "@scss/mixins/breakpoint";
@import "@scss/mixins/mini";

.MainContacts {
	padding-bottom: 50px;

	ul {
		display: flex;
		flex-wrap: wrap;
		align-items: start;
		justify-content: space-between;
		padding-top: 30px;
	}

	&__map {
		width: 100%;
		height: 500px;

		picture {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.ContactsItem {
	display: flex;
	align-items: center;

	&__info {
		@include flex-column-start;
		font-family: Inter;
		font-weight: 300;
		font-size: 16px;
		line-height: 160%;
		color: var(--bl, #101010);
	}

	@include mobile {
		flex-direction: column;
		align-items: start;
		justify-content: center;
		margin-top: 30px;
		width: 160px;
		text-align: start;
	}
}
