@import "../../scss/mixins/breakpoint";
.Advantages {
  &__body {
		display: flex;
		justify-content: space-between;
	}	
	&__list {
		display: flex;
		flex-wrap: wrap;
		width: 700px;
		gap: 20px;
		@include mobile {
			flex-wrap: nowrap;
			overflow-x:scroll;
			scroll-snap-type: x mandatory;
		}
	}
	@include mobile {
		&__img {
			display: none;
		}
	}
}

