.Advantages {
  &__body {
		display: flex;
		justify-content: space-between;
	}	
	&__list {
		display: flex;
		flex-wrap: wrap;
		width: 700px;
		gap: 20px;
	}
}
.AdvantagesItem {
	border-radius: 10px;
	padding: 30px;
	width: 290px;
	height: 267px;
background: var(--orange, #F57520);
&__title {
/* desk mob 20 */
font-family: Inter;
font-weight: 500;
font-style: normal;
font-size: 20px;
line-height: 160%; /* 32px */
letter-spacing: 0.2px;
	color: var(--light-color, #FFF);
}
p {
/* desk mob 16 light */
font-family: Inter;
font-weight: 300;
font-style: normal;
font-size: 16px;
line-height: 160%; /* 25.6px */
	color: var(--light-color, #FFF);
}
&__btn {
/* desk mob cta */
font-family: Inter;
font-weight: 500;
font-style: normal;
font-size: 16px;
line-height: 123%; /* 19.68px */
	color: var(--light-color, #FFF);
}
}