@import "../../scss/mixins/mini";
@import "../../scss/mixins/breakpoint";
.CatalogMountain {
	@include image-set('../../../public/images/Catalog/bg');
	@include bg-cover;
	height: 280px;
	background-color: #4e4b4b;

	&__wrapper {
		padding-top: 50px;
		h1 {
			margin-top: 30px;
		}
		@include mobile {
			padding-top: 10px;
		}
	}
}
