@import "../../scss/mixins/mini";
.ProductSocial {
		display: flex;
		justify-content: space-between;
		padding-top: 20px;
		width: 100%;
		div {
			@include flex-column-start;
/* desk mob 14 */
font-family: Inter;
font-weight: 400;
font-style: normal;
font-size: 14px;
line-height: 160%; /* 22.4px */
			color: var(--light-grey, #B3B3B3);
			gap: 10px;
		}
		&__available {
			/* desk mob text 16 */
			font-family: Inter;
			font-weight: 400;
			font-style: normal;
			font-size: 16px;
			line-height: 160%; /* 25.6px */
					color: var(--green, #4D932C);
				}
				&__list {
					
						@include flex-v-center;
						gap: 10px;
					
				}
}
