@import "../../scss/mixins/mini";

.Card {
	@include flex-column-center;
	border-radius: 10px;
	width: 100%;

	background-color: var(--light-color);
	transition: all 0.3s ease-in-out;

	&__header {
		display: flex;
		align-items: start;
		justify-content: space-between;
		width: 100%;
	}

	&__status {
		margin-top: 10px;
		margin-right: 15px;
		color: #4D932C;
	}

	&__country {
		border-radius: 15px 0 5px 0;

		img {
			display: block;
			border-radius: 15px 0 5px 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__footer {
		@include flex-column-start;
		position: relative;
		margin-top: auto;
		padding: 20px 15px 5px 15px;
		width: 100%;
	}

	&__title {
		font-family: Inter;
		font-weight: 300;
		font-size: 18px;
		line-height: 160%;
		/* 28.8px */
		letter-spacing: 0.18px;
		color: #101010;
	}

	&__price {
		@include flex-v-center;
		gap: 10px;
	}
	&__currentPrice {
		/* desk mob cta */
		font-family: Inter;
		font-weight: 500;
		font-size: 18px;
		line-height: 123%;
		/* 19.68px */
		color: var(--2-grey, #777);
	}
	&__prevPrice {
font-family: Inter;
font-weight: 500;
font-style: normal;
font-size: 12px;
line-height: 123%; /* 14.76px */
text-decoration: line-through;
		color: var(--light-grey, #B3B3B3);
	}
	&__btn {
		@include flex-all-center;
		margin-top: 20px;
		width: 100%;
		max-width: 368px;
		text-align: center;
		transition: all 0.7s cubic-bezier(0.215, 0.610, 0.355, 1);

		a {
			@include flex-all-center;
			color: var(--light-color);
		}
	}

	&:hover {
		box-shadow: 0px 0px 0px 0px rgba(186, 186, 186, 0.10),
			2px 9px 21px 0px rgba(186, 186, 186, 0.10),
			6px 38px 38px 0px rgba(186, 186, 186, 0.09),
			14px 84px 51px 0px rgba(186, 186, 186, 0.05),
			25px 150px 61px 0px rgba(186, 186, 186, 0.01),
			39px 235px 67px 0px rgba(186, 186, 186, 0.00);
	}
}
.primary {
	min-height:509px;
	max-width: 400px;
	button {
		width: 100%;
		max-width: 368px;
	}
}
.secondary {
	max-width: 290px;
	button {
		width: 100%;
	}
}
