@import "../../scss/mixins/mini";

.AdvantagesItem {
	@include flex-column-start;
	justify-content: space-between;
	border-radius: 10px;
	padding: 30px;
	width: 290px;
	height: 267px;
	background: var(--orange, #F57520);

	&__title {
		font-family: Inter;
		font-weight: 500;
		font-size: 20px;
		line-height: 160%;
		letter-spacing: 0.2px;
		text-transform: uppercase;
		color: var(--light-color, #FFF);
	}

	p {
		font-family: Inter;
		font-weight: 300;
		font-size: 16px;
		line-height: 160%;
		/* 25.6px */
		color: var(--light-color, #FFF);
	}

	&__btn {
		display: block;
		margin-top: auto;

		/* desk mob cta */
		a {
			font-family: Inter;
			font-weight: 500;
			font-size: 16px;
			line-height: 123%;
			/* 19.68px */
			color: var(--light-color, #FFF);
		}
	}
}
