@import "../../scss/mixins/mini";
.ProductInfo {
	width: 100%;
	&__top {
		@include  flex-column-start;
		
	}
	
	&__colors {
		margin-top: 20px;
	}
	&__bottom {
		@include flex-v-center;
		padding-top: 20px;
		gap: 20px;
	}
	&__addToFavorites {
		@include flex-all-center;
		border-radius: 10px;
		padding: 0;
width: 52px;
height: 52px;
background: #F8F8F8;
svg {
	fill: none;
}
&:hover {
	background-color: #F8F8F8;
}
&.active {
	svg {
		fill: #F57520;
	}
}
	}
}

.ProductSizes {
	@include flex-v-center;
	gap: 10px;
	&__item {
		@include flex-all-center;
		border: 1px solid var(--3-grey, #E5E5E5);
		border-radius: 5px;
		width: 56px;
		height: 45px;
/* desk mob cta */
font-family: Inter;
font-weight: 500;
font-style: normal;
font-size: 16px;
line-height: 123%; /* 19.68px */
		text-align: center;
color:var(--dark-grey);
		transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
		cursor: pointer;
&:hover {
	color:var(--light-color);
	background: var(--bl, #101010);
	transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}
&.active {
	color:var(--light-color);
	background: var(--bl, #101010);
}
	}
}
.ProductColors {
	@include flex-v-center;
	margin-top: 10px;
	gap: 5px;
	&__item {
		border:1px solid #000;
		border-radius: 100%;
		width: 32px;
height: 32px;

		cursor: pointer;
&.active {
	border:5px solid var(--3-grey, #E5E5E5);
}
	}
}

.ProductCounter {
	@include flex-all-center;
border: 1px solid var(--3-grey, #E5E5E5);
	border-radius: 10px;
	width: 123px;
	height: 52px;
/* desk mob cta */
font-family: Inter;
font-weight: 500;
font-style: normal;
font-size: 16px;
line-height: 123%; /* 19.68px */
text-align: right;
	color: var(--bl, #101010);
	gap: 25px;
	button {
		@include flex-all-center;
		width: 30%;
		height: 100%;
		text-align: center;
	}
}
