@import "@scss/mixins/mini";
@import "@scss/mixins/breakpoint";

.StorageContent {
	&__text {
		font-family: Inter;
		font-size: 16px;
		line-height: 200%;
		color: var(--1-grey, #4C4C4C);
	}

	&__bottom {
		@include flex-all-sb;
		height: 250px;
		gap: 30px;

		@include middle-tablet {
			height: 300px;
		}

		@include small-tablet {
			flex-direction: column;
			align-items: center;
			height: auto;
		}
	}

	&__price {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 400px;
		border-radius: 10px;
		padding: 32px;
		height: 100%;
		background: var(--orange, #F57520);

		h5 {
			border-bottom: 1px solid rgba(255, 255, 255, 0.20);
			padding-bottom: 20px;
			font-family: Inter;
			font-weight: 500;
			font-size: 18px;
			line-height: 160%;
			letter-spacing: 0.18px;
			color: var(--light-color, #FFF);
		}

		span {
			font-family: Inter;
			font-weight: 300;
			font-size: 16px;
			line-height: 160%;
			color: var(--light-color, #FFF);
		}

		@include small-tablet {
			flex-basis: 25%;
		}
	}

	&__descr {
		position: relative;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 800px;
		overflow: hidden;
		border-radius: 10px;
		padding: 32px;
		height: 100%;
		background: var(--dark-grey, #2E2E2E);

		p {
			font-family: Inter;
			font-weight: 400;
			font-size: 16px;
			line-height: 200%;
			color: var(--light-color, #FFF);
		}

		svg {
			position: absolute;
			right: 0;
			bottom: 0;
		}

		@include small-tablet {
			flex-basis: 30%;
		}
	}
}
