.CreateOrderTop {
	&__title {
		margin-top: 20px;
/* desk h2 */
font-family: Bebas Neue Cyrillic;
font-weight: 400;
font-style: normal;
font-size: 64px;
line-height: 123%; /* 78.72px */
letter-spacing: 3.2px;
		color: var(--bl, #101010);
	}
	&__wrapper {
		padding-top: 20px;
	}
}
.Breadcrumbs {
	display: flex;
	align-items: center;
	gap: 10px;
	&__item {
a {
		position: relative;
		font-family: Inter;
		font-weight: 400;
		font-style: normal;
		font-size: 15px;
		line-height: 160%; /* 22.4px */
		color: var(--1-grey, #4C4C4C);
&:hover {
	color: var(--orange, #F57520);
}
}
	}
}
.Breadcrumbs__item:not(:last-child) {
a::before{
			content: "/";
			position: absolute;
			right: -6px;
			top: -2px;
} 
	 
	
}
