.ResetPassword {
	width: 100%;
	&__form {
		display: flex;
		flex-direction: column;
		align-items: start;
		max-width: 620px;
		
	}	
	&__input {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis:100%;
		margin-top: 15px;
			width: 100%;
	}
	&__submit {
		margin-top: 40px;
	}
}
