@import "../../scss/mixins/mini";
@import "../../scss/mixins/breakpoint";
.Favorites {
	width: 100%;
	min-height: 500px;

	&__wrapper {
		height: 100%;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}

	&__item {
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: 45%;
		border: 1px solid #ece3e3;
		width: auto;
		max-width: none;
		@include pre-mini-desktop {
			max-width: 350px;
		}
	}

	&__empty {
		@include flex-all-center;
		flex-direction: column;
		width: 100%;
		height: 50vh;
		/* desk mob 16 light */
		font-family: Inter;
		font-weight: 300;
		font-style: normal;
		font-size: 16px;
		line-height: 160%;
		/* 25.6px */
		color: var(--light-grey, #B3B3B3);
	}
}
