.AboutUsContacts {
	&__map {
		padding-top: 50px;
		width: 100%;
		height: 500px;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		picture {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
