@import "@scss/mixins/breakpoint";

.ProductMain {
	min-height: 100vh;

	&__wrapper {
		display: flex;
		align-items: start;

		@include middle-tablet {
			flex-direction: column;
			justify-content: center;
		}
	}
}
