.MountainBikes {
	height: 100vh;
	background: var(--bg, #F8F8F8);
	&__container {
		padding-top: 50px;
	}
	&__body  {

		display: flex;
		padding-top: 100px;
		
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		width: 50%;
		gap: 15px;
	}
	&__right {
		padding-left: 100px;
		width: 50%;
	}
}
