@import "../../scss/mixins/breakpoint";
.MountainBikes {
	height: 100vh;
	background: var(--bg, #F8F8F8);
	&__inner {
		padding-top: 50px;
	}
	&__body  {

		display: flex;
		padding-top: 100px;
		@include mobile {
			flex-direction: column;
			padding-top: 20px;
		}
		
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		width: 50%;
		gap: 15px;
		@include mobile {
			flex-wrap: nowrap;
			overflow-x: scroll;
			overflow-y: hidden;
			width: 100%;
			scroll-snap-type: x mandatory;
		}
	}
	&__right {
		padding-left: 100px;
		width: 50%;
		@include mobile {
			padding-top: 30px;
			padding-left: 0;
			width: 100%;
		}
	}
	
}
