@import "../../scss/mixins/breakpoint";
@import "../../scss/mixins/mini";
.MountainBikes {
	min-height: 100vh;
	background: var(--bg, #F8F8F8);
	&__inner {
		padding-top: 50px;
	}
	&__body  {

		display: flex;
		padding-top: 100px;
		@include mobile {
			flex-direction: column;
			padding-top: 20px;
		}
		@include small-tablet {
			flex-direction: column;
		}
		
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		width: 50%;
		gap: 15px;
		@include mobile {
			flex-wrap: nowrap;
			overflow-x: scroll;
			overflow-y: hidden;
			width: 100%;
			scroll-snap-type: x mandatory;
		}
		@include small-tablet {
			width: 100%;
		}
	}
	&__right {
		padding-left: 100px;
		width: 50%;
		@include mobile {
			padding-top: 30px;
			padding-left: 0;
			width: 100%;
		}
		@include small-tablet {
			@include flex-column-center;
			padding-top: 30px;
			padding-bottom: 30px;
			padding-left: 0;
			width: 100%;
		}
		@include mini-desktop {
			padding-left: 4%;
		}
	}
	&__img {
		border-radius: 10px;
width: 100%;
height: 257px;
		max-width: 510px;
		img {
			display: block;
			border-radius: 10px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	@include small-tablet {
		&__img {
			width: 100%;
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	
}
