.Profile {
	&__header{ 

			position: initial;
			background-color: var(--bl, #101010);
			
		
	}
	&__wrapper {
		display: flex;
		align-items: start;
		padding-top: 100px;
		gap: 40px;
	}
}
