@import "../../scss/mixins/mini";

.Header {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100px;
	color: var(--light-color);
	// background-color: var(--black-color);

	&__container {
		@include flex-all-sb;
		height: 100%;
	}

	&__nav {
		&_list {
			@include flex-v-center;
			gap: 25px;
		}
		&_link {
			
				text-decoration: none;
				color: var(--light-color);
			&:hover {
				
				color: var(--orange, #F57520);
				
			}
			
		}

		&_item {
			position: relative;

			
		}
	}

	&__right {
		@include flex-v-center;
		gap: 40px;

		&_list {
			@include flex-v-center;
			gap: 25px;
		}

		&_item {
			cursor: pointer;

			svg {
				fill: none;
				stroke: var(--light-color);

				&:hover {
					stroke: var(--orange, #F57520);
				}
			}
		}
	}

	&__burger {
		@include flex-column-end;
		width: 33px;
		height: 21px;
		cursor: pointer;

		span {
			display: block;

			width: 100%;
			height: 2px;
			font-size: 0;
			background-color: var(--light-color);

			&:not(:first-child) {
				margin-top: 6px;
				width: 80%;
			}

		}

		&:hover {
			span {
				background-color: var(--orange, #F57520);
			}
		}
	}

	&__modalOne {

		width: 650px;
		z-index: 10;
		display: flex;
		align-items: start;
		justify-content: space-between;

		&_list {
			// display: flex;
			// flex-direction: column;
			// gap: 20px;
			// flex-wrap: wrap;
			display: grid;
			grid-template-columns: repeat(3,1fr);

			li {
				color: var(--3-grey, #E5E5E5);
				/* desk mob 14 */
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 160%;
				/* 22.4px */
				display: flex;
				align-items: center;
				justify-content: start;
				text-align: start;
				a {
					color: var(--3-grey, #E5E5E5);
					&:hover {
						color: var(--orange, #F57520);
					}
				}
			}
		}
	}
}
