@import "../../scss/mixins/mini";

.BasicServices {
	&__title {
		font-family: Bebas Neue Cyrillic;
		font-weight: 400;
		font-size: 40px;
		line-height: 123%;
		/* 49.2px */
		letter-spacing: 2px;
		color: var(--bl, #101010);
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		border: 1px solid var(--bg, #F8F8F8);
		border-radius: 10px;
	}

	&__item {
		@include flex-all-sb;

		padding: 0 20px;
		width: 620px;
		height: 77px;

		&:not(:last-child) {
			border-bottom: 1px solid var(--bg, #F8F8F8);
		}

		&:nth-child(2n+1) {
			background: var(--bg, #F8F8F8);
		}

	}
}
