@import "../../scss/mixins/mini";

.CatalogContent {
	min-height: 100vh;

	// test
	&__wrapper {
		display: flex;
		align-items: start;
		padding-top: 50px;
	}

	&__right {
		@include flex-column-center;
		position: relative;

		padding-left: 30px;
		width: 100%;
	}

	&__top {
		position: absolute;
		display: flex;
		align-items: start;
		justify-content: space-between;
		width: 100%;
	}

}

.CatalogGoods {
	margin-top: 100px;
	padding-bottom: 30px;

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	&__card {
		button {
			width: 100%;
			max-width: 400px;
		}
	}
}
