@import "../../scss/mixins/mini";
@import "../../scss/mixins/breakpoint";
.CatalogContent {
	min-height: 100vh;

	// test
	&__wrapper {
		display: flex;
		align-items: start;
		padding-top: 50px;
		@include mobile {
			padding-top: 10px;
		}
	}

	&__right {
		@include flex-column-center;
		position: relative;

		padding-left: 30px;
		width: 100%;
		@include mobile {
			padding-left: 0;
		}
	}

	&__top {
		position: absolute;
		display: flex;
		align-items: start;
		justify-content: space-between;
		width: 100%;
		@include mobile {
			justify-content: center;
			gap: 10px;
		}
	}

}

.CatalogGoods {
	margin-top: 100px;
	padding-bottom: 30px;

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		@include mobile {
			flex-direction: column;
		}
	}

	&__card {
		button {
			width: 100%;
			max-width: 400px;
		}
	}
}
.Filters__open {
	display: none;
border: 1px solid var(--3-grey, #E5E5E5);
border-radius: 10px;
	padding: 12px 16px;
	background:transparent;
	@include mobile {
		display: block;
	}
}
.Desktop__filters {
	@include mobile {
		display: none;
	}
}
