@import "../../scss/mixins/breakpoint";
.Cart{
	&__body {
		&_container {
			display: flex;
			gap: 30px;
			@include middle-tablet{
					flex-direction: column;
					align-items: start;
			}
		}
	}
}
