@import "../../scss/mixins/mini";
@import "../../scss/mixins/breakpoint";

.OrderFinish {
	position: relative;
	display: flex;
	border: 1px solid var(--3-grey, #E5E5E5);
	border-radius: 10px;
	padding: 40px;
	width: 100%;
	height: 320px;

	&__modal {
		@include flex-all-center;
		padding: 0 20px;
		width: 500px;
		height: 400px;
		text-align: center;

		h3 {
			/* desk h2 */
			font-family: Bebas Neue Cyrillic;
			font-weight: 400;
			font-size: 51px;
			line-height: 123%;
			/* 78.72px */
			letter-spacing: 3.2px;
			color: var(--bl, #101010);
		}
	}

	&__column {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 120px;
		@include middle-tablet {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 50%;
		}
	}

	&__title {
		font-family: Bebas Neue Cyrillic;
		font-weight: 400;
		font-size: 40px;
		line-height: 123%;
		/* 49.2px */
		letter-spacing: 2px;
		color: var(--bl, #101010);
		@include mobile {
			font-size: 32px;
			line-height: 105%;
		}
	}

	&__delivery {
		/* desk mob 24 */
		font-family: Inter;
		font-weight: 500;
		 font-size: 24px;
		line-height: 160%;
		/* 38.4px */
		letter-spacing: 0.24px;
		color: var(--orange, #F57520);
	}

	&__info {
		&_item {
			margin-top: 10px;
			/* desk mob text 16 */
			font-family: Inter;
			font-weight: 400;
			font-size: 16px;
			line-height: 160%;
			/* 25.6px */
			text-align: left;
			color: var(--bl, #101010);

			span {
				margin-right: 10px;
			}
			@include mobile {
				display: flex;
				justify-content: space-between;
				margin-top: 10px;
			}
		}
		@include mobile {
			padding-top: 30px;
		}
	}

	&__total {
		&_top {
			@include flex-all-sb;
			@include mobile {
				flex-direction: column;
				align-items: start;
				padding-top: 20px;
			}
		}

		&_count {
			/* desk mob 20 */
			font-family: Inter;
			font-weight: 500;
			font-size: 20px;
			line-height: 160%;
			/* 32px */
			letter-spacing: 0.2px;
			color: var(--bl, #101010);
		}

		&_price {
			/* desk mob 24 */
			font-family: Inter;
			font-weight: 500;
			font-size: 24px;
			line-height: 160%;
			/* 38.4px */
			letter-spacing: 0.24px;
			text-align: right;
			color: var(--bl, #101010);
		}

		&_bottom {
			/* desk 12 */
			font-family: Inter;
			font-weight: 400;
			font-size: 12px;
			line-height: 160%;
			/* 19.2px */
			color: var(--2-grey, #777);

			a {
				color: var(--orange, #F57520);
			}
			@include mobile {
				padding-top: 30px;
			}
		}
	}

	&__submit {
		text-transform: uppercase;
	}
	@include middle-tablet {
		flex-direction: column;
		height: auto;
	}
}
