@import "../../scss/mixins/breakpoint";
.CreateOrderBody {
	&__top {
		display: flex;
		align-items: start;
		justify-content: space-between;
		height: 545px;
		gap: 20px;
		@include small-tablet {
			flex-direction: column;
			justify-content: center;
			height: auto;
			min-height: 100vh;
		}
	}

	&__bottom {
		margin: 20px 0;
	}

}
