@import "../../scss/mixins/mini";
.ContactsInfo {

	&__inner {
		@include flex-all-sb;
		padding-bottom: 40px;
	}
	&__block {
		margin-top: 20px;
		&_title {

			/* desk mob med 18 */
			font-family: Inter;
			font-weight: 500;
			font-style: normal;
			font-size: 18px;
			line-height: 160%;
			/* 28.8px */
			letter-spacing: 0.18px;
			color: var(--bl, #101010);

		}

		&_item {
/* desk mob 16 light */
font-family: Inter;
font-weight: 300;
font-style: normal;
font-size: 16px;
line-height: 160%; /* 25.6px */
			color: var(--bl, #101010);

			a {
				/* desk mob 16 light */
				font-family: Inter;
				font-weight: 300;
				font-style: normal;
				font-size: 16px;
				line-height: 160%; /* 25.6px */
				color: var(--bl, #101010);
			}
		}
	}
	&__left {
		&_item {
			margin-top: 10px;
			span {
/* desk mob 16 light */
font-family: Inter;
font-weight: 300;
font-style: normal;
font-size: 16px;
line-height: 160%; /* 25.6px */
				color: var(--2-grey, #777);
			}
		}
		
	}
}
