@import "@scss/mixins/breakpoint";

.Title {
	font-family: Bebas Neue Cyrillic;
	font-weight: 400;
	font-size: 64px;
	line-height: 123%;
	letter-spacing: 3.2px;

	@include mobile {
		font-size: 50px;
		line-height: 105%;
	}
}

.black {
	color: var(--bl, #101010);
}

.light {
	color: var(--light-color);
}
