.HeaderModal {
	position: absolute;
	right: 50%;
border: 1px solid var(--1-grey, #4C4C4C);
	border-radius: 10px;
	padding: 40px;
background: var(--bl, #101010);
	transform: translate(50%, 0);

}