@import "@scss/mixins/mini";
@import "@scss/mixins/breakpoint";

.AdvantagesItem {
	@include flex-column-start;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 290px;
	justify-content: space-between;
	border-radius: 10px;
	padding: 30px;
	height: 267px;
	background: var(--orange, #F57520);

	&__title {
		font-family: Inter;
		font-weight: 500;
		font-size: 20px;
		line-height: 160%;
		letter-spacing: 0.2px;
		text-transform: uppercase;
		color: var(--light-color, #FFF);
		// @include big-desktop {
		// 	font-size: 16px;
		// }
	}

	p {
		font-family: Inter;
		font-weight: 300;
		font-size: 16px;
		line-height: 160%;
		/* 25.6px */
		color: var(--light-color, #FFF);
		// @include big-desktop {
		// 	font-size: 12px;
		// }
	}

	&__btn {
		display: block;
		margin-top: auto;

		/* desk mob cta */
		a {
			font-family: Inter;
			font-weight: 500;
			font-size: 16px;
			line-height: 123%;
			/* 19.68px */
			color: var(--light-color, #FFF);
			// @include big-desktop {
			// 	font-size: 12px;
			// }
		}
	}

	// @include huge-desktop {
	// 	flex-basis: 290px;
	// 	// height: 235px;
	// }
	// @include big-desktop {
	// 	flex-basis: 250px;
	// 	height: 210px;
	// }
	@include pre-mobile {
		flex-basis: 270px;
	}

	@include mobile {
		scroll-snap-align: center;
	}
}
